<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->


<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"80px","bottom":"80px"}}},"className":"site-content","layout":{"inherit":true}} -->
<main class="wp-block-group site-content" style="margin-top:0;padding-top:80px;padding-bottom:80px"><!-- wp:heading {"textAlign":"center","fontSize":"xxxl"} -->
	<h2 class="has-text-align-center has-xxxl-font-size"><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-primary-color">404</mark> : Not Found</h2>
	<!-- /wp:heading -->
	
	<!-- wp:paragraph {"align":"center"} -->
	<p class="has-text-align-center">The page you are looking for cannot be found...</p>
	<!-- /wp:paragraph --></main>
	<!-- /wp:group -->


<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->